@using DataSaver.ApplicationCore.ViewModels
@model IEnumerable<LinkViewModel>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h4>Here you can find all of your links</h4>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Link" asp-action="CreateLink" class="btn btn-info">
                Create a link
                <i class="fas fa-plus"></i>
            </a>
        </div>
    </div>
</div>

<br />
<br />

@if (Model.Count() > 0)
{
    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Link</th>
                <th scope="col">Category</th>
                <th scope="col">What is it about?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
             <tr>
                <th scope="row">@item.Name</th>
                <td>@item.Description</td>
                <td><a href=@item.UrlLink>@item.UrlLink</a></td>
                <td>@item.Category!.Name</td>
                <td>@item.Topic!.Name</td>
                <td>
                  <div class="btn-group">
                        <a asp-controller="Link" asp-action="UpdateLink" asp-route-id="@item.Id" class="btn btn-outline-dark">
                            Edit
                        </a>
                      <a asp-controller="Link" asp-action="DeleteLink" asp-route-id="@item.Id" class="btn btn-outline-danger">
                            Delete
                      </a>
                  </div> 
                </td>
            </tr>
            }
        </tbody>
    </table>
}

else
{
<p>Category list is empty</p>
}
